    <div id="aboutwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/aboutwrap -->
	
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Yassir Qattan</h2>
				<p>Yassir Qattan, a student from Saudia Arabia who came to USA to achieve his goals, he wants to become an engineer, however he is having issues and is trying to overcome them.
                His hobbies are mostly spending most of his time on his PC playing video games, watching TV series / Anime, and surfing the web. </p>
				
			</div>

		</div><! --/row -->
	</div><! --/container -->
	